.cabecalho {
  padding: 0;
  background-color: #c4170c;
}

.cabecalho-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cabecalho a {
  color: white;
  text-align: center;
}

.cabecalho .logo-cabecalho a {
  font-size: 30px;
  font-weight: bold;
}

.cabecalho .assinar {
  font-size: 20px;
  letter-spacing: 2.5px;
  cursor: pointer;
}

.cabecalho .assinar:hover {
  color: #eeeeee;
}
