.cabecalho {
  padding: 0;
  background-color: #c4170c;
  height: 60px;
}

.cabecalho-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cabecalho .logo-cabecalho {
  display: block;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.btn-assinar {
  background-color: #a6130a;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 0 100px 100px 0;
  border-radius: 5px;
  color: #cccccc;
  font-size: 16px;
  letter-spacing: 3px;
}
